@import './base.css';

body {
  overflow: hidden;
  background-size: cover;
  user-select: none;
  background-color: transparent;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none;
}
